@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS Global */

:root {

    --font: #e5e5e5e5;
    --bgnd: #ffffff;
    --dark-blue: #0a3871;
    --gray: #c5c5c5;
    --medium-gray: #67808e;
    --rgba: rgba(0,0,0,0.08);
    --white-blue: #d8dfe8;
    --medium-blue: #0a38718a;
    --grey: #343a40;
    --light-grey: #495057;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    /* background: var(--bgnd); */
}

::selection {

    background: var(--dark-blue);
    color: var(--font);
}

body {

    height: 100%;
}

img {

    max-width: 100%;
}

/* HEADER */

header {


    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .alura-logo {

/*     display: flex;
    align-items: flex-start; */
    width: 120px;
    height: 48px;
}

header .mv-logo {

/*     display: flex;
    align-items: flex-start; */
    width: 140px;
    height: 50px;
    margin-left: -20px;
}


/* MAIN */

main  {

    display: flex;
    flex-direction: row;
    background: url(../assets/portada.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.encriptador {

    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;

}

.encriptar {

    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--gray);
    border-radius: 15px;
    resize: none;
}

.encriptar::placeholder, :focus {

    color: var(--dark-blue);
}

.aviso-encriptador {

    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    position: absolute;
    top: 500px;

}

.aviso-texto {

    width: 100%;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--medium-gray);
    

}

.encriptador-container {

    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}

.btn-encriptar {

    width: 330px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--bgnd);
    background: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--rgba);
}

.btn-encriptar:active {

    box-shadow: inset 2px 2px 4px var(--bgnd),
    inset -3px -4px 8px var(--dark-blue);
    color: var(--white-blue);
}

.btn-desencriptar {

    width: 330px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--dark-blue);
    background: var(--white-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--rgba);
}

.btn-copy:active,
.btn-desencriptar:active {

    box-shadow: inset 2px 2px 4px var(--dark-blue),
    inset -3px -4px 8px var(--bgnd);
    color: var(--medium-blue);
}

.tarjeta-texto {

    width: 270px;
    height: 580px;
    background: var(--font);
    box-shadow: 10px 24px 32px -8px var(--grey);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.tarjeta-container {

    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--font);
}

.img-muñeco {

    background: var(--font);
}

.texto-uno {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--grey);
    background: var(--font);
}

.texto-dos {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--medium-gray);
    background: var(--font);
}

.evaluar {

    width: 100%;
    height: 490px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--light-grey);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}

.evaluar:focus {

    outline: none;


}

.btn-copy {

    width: 225px;
    height: 70px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--white-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 20px;
    cursor: pointer;

}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copy:hover {


    transform: scale(0.98);
}

/* FOOTER  */

footer {


    margin-top: 25px;
    padding: 10px;
    border-top: 2px solid var(--font);
    color: var(--grey);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--grey);
}


.linkedin:hover {

    color: var(--font);
    opacity: 0.8;


}

.github:hover {

    color: var(--font);
    opacity: 0.6;
}


/* MEDIA QUERYS */

@media(max-width: 1250px) {

    main {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador {

        margin: 170px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador-container {

        display: flex;
        align-items: center;
        position: inherit;
    }

    .aviso-encriptador {

        position: inherit;
        margin: 15px;

    }

    .tarjeta-texto {

        width: 670px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .tarjeta-container {

        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 25px;
        font-weight: 700;


    }

    .img-muñeco {

        display: none;
    }

    .btn-copy {

        position: inherit;
        width: 100%;

    }

    .evaluar {

        width: 100%;
        height: 210px;
        padding: 10px;
    }
}

@media(max-width: 720px) {



    
    header .alura-logo {

    
        padding: 2px;
    
    }

    header .mv-logo {

        padding: 2px;
        background: var(--dark-blue);

        
        
    } 



    .encriptar {

        width: 90%;
        font-size: 25px;
    }

    .encriptador-container {

        display: grid;
        gap: 21px;

    }

    .tarjeta-texto {

        width: 90%;
    }

    .copy-right {

        font-size: 20px;
    }
}